@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('../fonts/Inter-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}
html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Inter, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Inter', monospace;
}

#app-container {
  background-color: #ffffff;
}
